*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/*************************************/

body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);

    --color-with-theme: #408EE0;
}

/*************************************/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    background-color: var(--color-with-theme);
    color: white;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "title" "navigation" "navigation" "navigation"
        "branding" "branding" "." "." "." ".";
}

.sidebar img {
    filter: invert(100%);
}

.sidebar .title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: calc(10px + 0.5vw);
    font-size: 2vw;
    font-weight: 550;
}

.title img {
    margin-right: 1vw;
    height: 5vh;
    width: 3vw;
}

.navigation, .branding {
    /*position style can not be inheritanced in children*/
    padding-left: calc(17px + 0.5vw);

    /*font style can be inheritanced in children*/
    font-size: 1.5vw;
    font-weight: 550;
}

.navigation {
    grid-area: navigation;

    display: grid;
    grid-template-rows: repeat(6, 1fr);

    margin-bottom: 2rem;
}

.branding {
    grid-area: branding;

    display: grid;
    grid-template-rows: repeat(3, 1fr);

    margin-bottom: 3rem;
}

.navigation > *,
.branding > *{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.navigation img,
.branding img {
    margin-right: 1.5vw;
    height: 2.5vh;
    width: 1.5vw;
}


/*************************************/

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "searchbar searchbar notification"
        "account account action";

    box-shadow: 2px 2px 5px gray;
}

.header .searchbar {
    grid-area: searchbar;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 2rem;
}

.searchbar img {
    margin-right: 1.5vw;
    height: 3vh;
    width: 1.8vw;
}

.searchbar input {
    padding: 6px;
    border: none;
    border-radius: 16px;
    background: Gainsboro;
    height: 2.5vh;
    width: 45vw
}

.header .notification {
    grid-area: notification;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;

    font-size: 1.5vw;
}

.notification img:nth-of-type(1) {
    margin-right: 1.5vw;
    height: 3vh;
    width: 1.8vw;
}

.notification img:nth-of-type(2) {
    margin-right: 1.5vw;
    height: 3.5vh;
    border-radius: 50%;
}

.notification span {
    font-weight: bold;
    font-size: 1.5vw;
}

.header .account {
    grid-area: account;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 2rem;
}

.account img {
    margin-right: 1.5vw;
    height: 6vh;
    border-radius: 50%;
}

.account .information {
    font-weight: bold;
}

.account .information .welcome{
    font-size: 1vw;
}

.account .information .big-name{
    font-size: 1.75vw;
}

.header .action {
    grid-area: action;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;

    gap: 1.5vw;
}

.action button {
    width: 8vw;
    padding: 10px 0px;
    border: none;
    border-radius: 16px;
    background-color: var(--color-with-theme);
    color:white;

    font-size: 1.25vw;
}

/*************************************/

.dashboard {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}